.page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.left,
.right {
  min-width: 0;
}
h2 {
  text-align: center;
}

@media (max-width: 992px) {
  .page {
    grid-template-columns: 1fr;
  }
}
