* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.LINKUSED {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text);
  text-decoration: none;
}
